**{
    padding: 0;
    margin: 0;
}
body {
    background-color: #EFE9FF;
}
.grid{
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 300px 900px 100px 200px 300px;
    grid-template-areas: 
    "main main"
    "sidebar post"
    "pages pages"
    "news news"
    "footer footer"
    ;
}
.main{
    grid-area: main;
}
.sidebar{
    color: #fff;
    grid-area: sidebar;
}
.sidebar h3 {
    color: #302d55;
    margin: 100px 30px auto;
}

.sidebar ul {
    list-style: none;
    margin: 30px 60px auto;
}

.sidebar ul li {
    margin: 30px auto;
}

.sidebar ul li a {
    font-style: normal;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 600;
    text-decoration: none;
    color: #282424;
    padding: 3px;
    margin: 10px 0 0 8px;
}
.sidebar ul li a:hover{
    text-decoration: underline;
}
#sb-span {
    font-size: 18px;
    font-weight: bold;
    width: 60px;
    height: 40px;
    border: 0.2px white;
    color: var(--text-color);
    padding: 10px;
    margin: 0 8px 0 0;
    border-radius: 6px;
}

.span-1 {
    background-color: #ff8e51;
}

.span-2 {
    background-color: #6A4EE9;
}

.span-3 {
    background-color: #2a2728;
}

.span-4 {
    background-color: #227dff;
}

.span-5 {
    background-color: #ff2ed9;
}

.span-6 {
    background-color: #2a2728;
}

.span-7 {
    background-color: #FF516B;
}

.posts{
    grid-area: post;
}
.container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.container .box-container .box {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
}

.container .box-container .box img {
    height: 80px;
}

.container .box-container .box h3 a{
    color: #444;
    font-size: 22px;
    padding: 10px 0;
    text-decoration: none;
}
.container .box-container .box h3 a:hover{
    color: #9C9C9C;
    text-decoration: underline #9C9C9C;
}
.container .box-container .box p {
    color: #777;
    font-size: 15px;
    line-height: 1.8;
}
.container .box-container .box:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.03);
}
.author i{
    font-size: 12px;
    font-weight: 500;
}
.author a{
    margin: 0 0 0 10px;
    color: #2a2728;
    font-size: 18px;
    text-decoration: none;
}
.date i{
    margin: 0 10px 0 0;
}
.pages{
    grid-area: pages;
}
.pages p {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}

.next-btn {
    border-radius: 2px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    background-color: #6a4ee9;
    margin: -15px 0 0 20px;
    width: 90px;
    height: 40px;
}
.up-content {
    display: inline-flex;
    justify-content: center;
}

.left-content {
    display: flex;
    width: auto;
    height: auto;
}

.right-content {
    float: right;
    margin: 0 0 0 100px;
    width: auto;
    height: auto;
}

.join {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    width: 400px;
    height: 38px;
}

.middle-content-1 {
    display: inline;
    width: 551px;
    margin: 10px auto auto 100px;
}

.middle-content-2 {
    display: inline;
    margin: 10px auto auto 100px;
}

.join {
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    color: #000000;
    margin: 10px 0 0 40px;
    width: max-content;
}

.slogan {
    width: 376px;
    height: 40px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    margin: 8px 0 0 40px;
    color: #525252;
}

.new-le {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 22px;
    line-height: 20px;
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    margin: 40px 0 0 0;
}

.slogan {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    margin: 30px 0 0 40px;
    color: #252525;
}

.btn-nl {
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-join {
    width: 160px;
    height: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 19px;
    color: #fff;
    text-align: center;
    background-color: #282424;
    border: none;
    margin: 30px auto auto 80px;
    display: inline-block;
    transition: transform 0.3s;
    padding: 10px 20px;
}

.btn-join:hover {
    transform: scale(1.03);
    transform: translateY(-3px);
}

.newsletter {
    background-color: #fff;
    grid-area: news;
}

.footer {
    grid-area: footer;
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: 35% 30% 35%;
    grid-template-areas:
        "social-icons quick-links submits";

}

.social-icons p {
    color: #282424;
    font-size: 36px;
    margin: 40px auto auto 60px;
}

.social-icons ul {
    list-style: none;
}

.social-icons ul li {
    color: #000000ad;
    width: 350px;
    margin: auto 0 0 100px;
    padding: 5px;
    font-style: normal;
    line-height: 29px;
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid #00000049;
}

.social-icons ul li a {
    color: #000000ad;
    text-decoration: none;
}

.social-icons ul li a:hover {
    color: #6a4ee9d0;
}

.social-icons ul li i {
    font-size: 28px;
    font-weight: 400;
    margin-top: 2px;
}

#t-icon {
    margin: 0 0 0 130px;
}

#f-icon {
    margin: 0px 0 0 97px;
}

#i-icon {
    margin: 0px 0 0 100px;
}

#g-icon {
    margin: 0px 0 0 128px;
}

#l-icon {
    margin: 0 0 0 115px;
}

.quicks-links p {
    color: #282424;
    font-size: 36px;
    margin: 40px auto auto 40px;
}

.quicks-links ul {
    list-style: none;
}

.quicks-links ul li {
    margin: auto 0 0 60px;
    padding: 5px;
    font-style: normal;
    line-height: 29px;
    font-weight: 700;
    font-size: 18px;
}

.quicks-links ul li a {
    color: #000000ad;
    text-decoration: none;
}

.quicks-links ul li a:hover {
    color: #6a4ee9d0;
}

.submits p {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin: 40px auto auto 40px;
}

#f-mail,
#f-mail:active {
    margin: 30px 0 0 0;
    width: 363px;
    height: 50px;
    border: 2px solid #6A4EE9;
    background-color: var(--white-bg);
}

#f-mail::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--black-text-color);
    padding: 5px 0 5px 30px;

}

.f-sub {
    background-color: #6A4EE9;
    color: var(--text-color);
    margin: auto auto auto 18px;
    width: 110px;
    height: 30px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
@media (max-width:768px) {
    .container {
        padding: 20px;
    }
}
@media (max-width:550px){
    .sidebar{
        display: none;
    }
}